<nav class="navbar navbar-dark bg-dark justify-content-between">

  <b><a class="navbar-brand">Cine-APP</a></b>
  <div>
    <button *ngIf="!isAuth()" type="button" class="btn btn-light" [routerLink]="['/registro-usuario']"> Sign-in</button>
    <button *ngIf="!isAuth()" type="button" class="btn btn-light" [routerLink]="['/login']">Login</button>
    <button *ngIf="isAuth()" type="button" class="btn btn-light" [routerLink]="['/misMetodos']">Métodos de pago</button>
    <button *ngIf="isAuth()" type="button" class="btn btn-light" (click)="logOut()" >Log-out</button>
  </div>

</nav>
<router-outlet></router-outlet>